body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-grow: 1;
}
.buttonContainer {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#scoreContainer {
display: flex;
flex-direction: row;
flex-grow: 1;
margin: auto;
}

#playerScoreBox {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

#playerScore {
    display: flex;
    align-self: center;
}
#playerScoreUpdate {
    display: flex;
    align-self: center;
}

#computerScoreBox {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

#computerScore {
    display: flex;
    align-self: center;
}